<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Temuin"
        tools:targetApi="31">
        <activity
            android:name=".admin.AdminItemDetailLostActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminItemDetailActivity"
            android:exported="false" />
        <activity
            android:name=".admin.LaporKehilanganActivity"
            android:exported="false" />
        <activity
            android:name=".admin.LaporPenemuanActivity"
            android:exported="false" />
        <activity
            android:name=".PanduanActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".lost.ReportLostItemActivity"
            android:exported="false" />
        <activity
            android:name=".lost.DetailItemLostActivity"
            android:exported="false" />
        <activity
            android:name=".lost.LostItemsListActivity"
            android:exported="false" />
        <activity
            android:name=".found.ReportFoundItemActivity"
            android:exported="true" />
        <activity
            android:name=".found.DetailItemActivity"
            android:exported="true" />
        <activity
            android:name=".found.FoundItemsListActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>